Repository rapidsai/nx-cugraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

nx-cugraph-meta-data-update:
  name: nx-cugraph meta-data updater
  entry: bash -c "PYTHONPATH=. python _nx_cugraph/__init__.py"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

nx-cugraph-readme-update:
  name: nx-cugraph README updater
  entry: bash -c "PYTHONPATH=. python ./scripts/update_readme.py ./README.md"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

disallow-improper-nxver-comparison:
  name: disallow improper comparison to `_nxver`
  language: pygrep
  entry: _nxver > |_nxver <= | < _nxver| >= _nxver

Link upstream issue about `is_available` exceptions
  benchmarks/pytest-based/bench_algos.py
Due: disallow-improper-nxver-comparison

Fixes typo.
  benchmarks/pytest-based/bench_algos.py
Due: disallow-improper-nxver-comparison

Catch `CUDARuntimeError` in CuPy GPU check (#166)
  benchmarks/pytest-based/bench_algos.py
Due: disallow-improper-nxver-comparison

Replaces use of set() with OrderedDict.fromkeys() to remove duplicates while preserving order to match NX.
  nx_cugraph/generators/classic.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Remove skips
  run_nx_tests.sh
Due: disallow-improper-nxver-comparison

Re-enables skipped tests.
  ci/test_python.sh
  run_nx_tests.sh
Due: disallow-improper-nxver-comparison

Adds additional xfails for new conversion cases, adds NotImplementedError exceptions for unsupported cases involving self-loops to allow for fallback to another backend.
  nx_cugraph/generators/classic.py
  nx_cugraph/interface.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Changes exception message to add accuracy, removes several xfails and instead has conversion code raise NotImplementedError for unsupported cases to allow for fallback to another backend.
  nx_cugraph/convert.py
  nx_cugraph/generators/classic.py
  nx_cugraph/interface.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Removes commented-out code.
  nx_cugraph/generators/classic.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Changes two xfails to skips since CI system passes the test and fails the run with an XPASS.
  nx_cugraph/interface.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Address Test Failures for NetworkX 3.5 (#160)
  ci/test_python.sh
  nx_cugraph/convert.py
  nx_cugraph/generators/_utils.py
  nx_cugraph/generators/classic.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_generators.py
  nx_cugraph/tests/testing_utils.py
  pyproject.toml
  run_nx_tests.sh
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

"fix(docker): use versioned `-latest` tag for all `rapidsai` images"
  ci/release/update-version.sh
Due: disallow-improper-nxver-comparison

DOC v25.10 Updates [skip ci]
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Removes references to CUDA 11.
  README.md
  notebooks/demo/accelerating_networkx.ipynb
  notebooks/demo/nx_cugraph_demo.ipynb
  notebooks/demo/nx_cugraph_jaccard_movie_recommender.ipynb
Due: disallow-improper-nxver-comparison

Disable codecov comments
  codecov.yml
Due: disallow-improper-nxver-comparison

Use latest OS (Ubuntu 24.04) in devcontainers.
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
Due: disallow-improper-nxver-comparison

Use openmpi5.0.7
  .devcontainer/cuda12.9-pip/devcontainer.json
Due: disallow-improper-nxver-comparison

Allow latest OS in devcontainers (#171)
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
Due: disallow-improper-nxver-comparison

Removes references to CUDA 11 in docs, notebooks (#169)
  README.md
  notebooks/demo/accelerating_networkx.ipynb
  notebooks/demo/nx_cugraph_demo.ipynb
  notebooks/demo/nx_cugraph_jaccard_movie_recommender.ipynb
Due: disallow-improper-nxver-comparison

Disable codecov comments (#170)
  codecov.yml
Due: disallow-improper-nxver-comparison

"ci(labeler): update labeler action to @v5"
  .github/labeler.yml
  .github/workflows/labeler.yaml
Due: disallow-improper-nxver-comparison

ci(labeler): update labeler action to @v5 (#175)
  .github/labeler.yml
  .github/workflows/labeler.yaml
Due: disallow-improper-nxver-comparison

Update rapids-build-backend to 0.4.1
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
Due: disallow-improper-nxver-comparison

Update rapids-build-backend to 0.4.1
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Update rapids-build-backend to 0.4.1 (#178)
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Update Changelog [skip ci]
  CHANGELOG.md
Due: disallow-improper-nxver-comparison

REL v25.08.00 release
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

use build cluster in devcontainers
  .devcontainer/Dockerfile
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

ensure TARGETARCH is set in Dockerfile
  .devcontainer/Dockerfile
Due: disallow-improper-nxver-comparison

increase nofile ulimit
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
Due: disallow-improper-nxver-comparison

update pip image tag
  .devcontainer/cuda12.9-pip/devcontainer.json
Due: disallow-improper-nxver-comparison

never fallback to local compile
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

Use build cluster in devcontainers (#181)
  .devcontainer/Dockerfile
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

Build and test with CUDA 13.0.0
  .devcontainer/cuda13.0-conda/devcontainer.json
  .devcontainer/cuda13.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
Due: disallow-improper-nxver-comparison

update dependencies.yaml, docs
  README.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Update rapids-dependency-file-generator
  .pre-commit-config.yaml
Due: none

Enable warnings
  .pre-commit-config.yaml
Due: none

Update rapids-dependency-file-generator (#183)
  .pre-commit-config.yaml
Due: none

Path conditions:
  nx-cugraph-meta-data-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$ and not (^thirdparty)
  nx-cugraph-readme-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$, \.(md|markdown|mdown)$ and not (^thirdparty)
  disallow-improper-nxver-comparison: any of: not (.pre-commit-config.yaml), but not: ^thirdparty
