Repository rapidsai/nx-cugraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

nx-cugraph-meta-data-update:
  name: nx-cugraph meta-data updater
  entry: bash -c "PYTHONPATH=. python _nx_cugraph/__init__.py"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

nx-cugraph-readme-update:
  name: nx-cugraph README updater
  entry: bash -c "PYTHONPATH=. python ./scripts/update_readme.py ./README.md"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

disallow-improper-nxver-comparison:
  name: disallow improper comparison to `_nxver`
  language: pygrep
  entry: _nxver > |_nxver <= | < _nxver| >= _nxver

Update to 26.04 (#229)
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .devcontainer/cuda13.1-conda/devcontainer.json
  .devcontainer/cuda13.1-pip/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yaml
  VERSION
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-131_arch-aarch64.yaml
  conda/environments/all_cuda-131_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

fix for changes in pip's handling of build constraints
  ci/build_wheel.sh
Due: disallow-improper-nxver-comparison

Update ci/build_wheel.sh
  ci/build_wheel.sh
Due: disallow-improper-nxver-comparison

wheel builds: react to changes in pip's handling of build constraints (#230)
  ci/build_wheel.sh
Due: disallow-improper-nxver-comparison

Fix docstring of `forceatlas2_layout` (#226)
  _nx_cugraph/__init__.py
  nx_cugraph/drawing/layout.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

fix(build): build package on merge to `release/*` branch
  .github/workflows/build.yaml
Due: disallow-improper-nxver-comparison

fix(build): build package on merge to `release/*` branch (#233)
  .github/workflows/build.yaml
Due: disallow-improper-nxver-comparison

Use verify-hardcoded-version pre-commit hook
  .pre-commit-config.yaml
Due: none

refactor: drop support for Python 3.10
  .pre-commit-config.yaml
  README.md
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

refactor: remove fallback version of `pairwise`
  nx_cugraph/convert.py
  nx_cugraph/utils/misc.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

tighten wheel size limits, expand CI-skipping logic, other small build changes
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  README.md
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
  ci/test_wheel_nx-cugraph.sh
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

ugh README
  README.md
Due: disallow-improper-nxver-comparison

add back for release
  ci/test_wheel_nx-cugraph.sh
Due: disallow-improper-nxver-comparison

tighten wheel size limits, expand CI-skipping logic, other small build changes (#237)
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
  ci/test_wheel_nx-cugraph.sh
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Drop Python 3.10 support (#236)
  .pre-commit-config.yaml
  README.md
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
  nx_cugraph/convert.py
  nx_cugraph/utils/misc.py
  pyproject.toml
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Use verify-hardcoded-version pre-commit hook (#235)
  .pre-commit-config.yaml
Due: none

CI scripts: remove pip.conf migration code
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
  ci/test_wheel_nx-cugraph.sh
Due: disallow-improper-nxver-comparison

remove pip.conf migration code in CI scripts (#239)
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
  ci/test_wheel_nx-cugraph.sh
Due: disallow-improper-nxver-comparison

oops missed one
  nx_cugraph/classes/graph.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Don't include noise resulting from merge
  benchmarks/pytest.ini
  ci/build_python.sh
  ci/check_style.sh
  ci/test_python.sh
  nx_cugraph/algorithms/bipartite/matrix.py
  nx_cugraph/generators/classic.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_bc.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

oops missed one (cleaning up)
  ci/release/update-version.sh
Due: disallow-improper-nxver-comparison

Remove `verify-hardcoded-version` pre-commit hook
  .pre-commit-config.yaml
Due: none

Update Changelog [skip ci]
  CHANGELOG.md
Due: disallow-improper-nxver-comparison

REL v26.02.00 release
  .pre-commit-config.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-131_arch-aarch64.yaml
  conda/environments/all_cuda-131_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Test shared-workflows branch add-rtxpro6000
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

isable `verify-hardcoded-version`
  nx_cugraph/classes/digraph.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Explicitly disable `verify-hardcoded-version`
  nx_cugraph/classes/graph.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Explicitly disable `verify-hardcoded-version`
  nx_cugraph/classes/multidigraph.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Explicitly disable `verify-hardcoded-version`
  nx_cugraph/classes/multigraph.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Re-add `verify-hardcoded-version` pre-commit
  .pre-commit-config.yaml
Due: none

dispatch for e.g. `nx.Graph(backend="cugraph")` (#92)
  _nx_cugraph/__init__.py
  nx_cugraph/classes/digraph.py
  nx_cugraph/classes/graph.py
  nx_cugraph/classes/multidigraph.py
  nx_cugraph/classes/multigraph.py
  nx_cugraph/scripts/print_tree.py
  nx_cugraph/tests/test_classes.py
  scripts/update_readme.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

use GHA id-token for sccache-dist auth
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

Use GHA id-token for `sccache-dist` auth token (#242)
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

update docs and pre-commit for new RAPIDS branching strategy
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: disallow-improper-nxver-comparison

update docs and pre-commit for new RAPIDS branching strategy (#243)
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: disallow-improper-nxver-comparison

remove references to 'nvidia' conda channel
  notebooks/cugraph_benchmarks/nx_cugraph_benchmark.ipynb
  notebooks/demo/nx_cugraph_demo.ipynb
Due: disallow-improper-nxver-comparison

add PR CI job checking that nightly tests are passing
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

feat: add support for Python 3.14
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

feat: add support for Python 3.14 (#246)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Prepare release/26.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Due: disallow-improper-nxver-comparison

Path conditions:
  nx-cugraph-meta-data-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$ and not (^thirdparty)
  nx-cugraph-readme-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$, \.(md|markdown|mdown)$ and not (^thirdparty)
  disallow-improper-nxver-comparison: any of: not (.pre-commit-config.yaml), but not: ^thirdparty
