Repository rapidsai/nx-cugraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

nx-cugraph-meta-data-update:
  name: nx-cugraph meta-data updater
  entry: bash -c "PYTHONPATH=. python _nx_cugraph/__init__.py"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

nx-cugraph-readme-update:
  name: nx-cugraph README updater
  entry: bash -c "PYTHONPATH=. python ./scripts/update_readme.py ./README.md"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

disallow-improper-nxver-comparison:
  name: disallow improper comparison to `_nxver`
  language: pygrep
  entry: _nxver > |_nxver <= | < _nxver| >= _nxver

Fix directory structure typo
  CONTRIBUTING.md
Due: disallow-improper-nxver-comparison

Fix Typo in Contributing Guide (#111)
  CONTRIBUTING.md
Due: disallow-improper-nxver-comparison

removed wheel_dir variable from ci scripts
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
Due: disallow-improper-nxver-comparison

Update Changelog [skip ci]
  CHANGELOG.md
Due: disallow-improper-nxver-comparison

Fix edgecase when converting to networkx w/o fallback
  nx_cugraph/convert.py
  nx_cugraph/interface.py
  nx_cugraph/tests/test_convert.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

REL v25.04.00 release
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Add ARM conda environments.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Due: disallow-improper-nxver-comparison

Add ARM conda environments (#119)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Due: disallow-improper-nxver-comparison

Add `to_scipy_sparse_array`
  README.md
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  nx_cugraph/classes/graph.py
  nx_cugraph/convert_matrix.py
  pyproject.toml
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

More code comments and breadcrumbs
  ci/test_python.sh
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Skip slow networkx 3.5 tests
  nx_cugraph/interface.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Bump `.pre-commit-config.yaml`, since we're touching some files anyway
  .pre-commit-config.yaml
  nx_cugraph/interface.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Add `meta` check to pre-commit (actually helpful!)
  .pre-commit-config.yaml
Due: none

Moving wheel builds to specified location and uploading build artifacts to Github (#104)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
Due: disallow-improper-nxver-comparison

Add `adjacency_matrix` and `tournament_matrix` "for free"
  README.md
  _nx_cugraph/__init__.py
  nx_cugraph/__init__.py
  nx_cugraph/algorithms/__init__.py
  nx_cugraph/algorithms/tournament.py
  nx_cugraph/linalg/__init__.py
  nx_cugraph/linalg/graphmatrix.py
  scripts/update_readme.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Add `biadjacency_matrix` and `from_biadjacency_matrix`
  README.md
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  nx_cugraph/algorithms/bipartite/__init__.py
  nx_cugraph/algorithms/bipartite/matrix.py
  nx_cugraph/algorithms/tournament.py
  nx_cugraph/convert_matrix.py
  nx_cugraph/tests/test_bipartite.py
  nx_cugraph/tests/test_community.py
  scripts/update_readme.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

oops linting
  benchmarks/pytest-based/bench_algos.py
Due: disallow-improper-nxver-comparison

feat(rattler): port conda build recipe to rattler build
  ci/build_python.sh
  conda/recipes/nx-cugraph/build.sh
  conda/recipes/nx-cugraph/meta.yaml
  conda/recipes/nx-cugraph/recipe.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

feat(rattler): port conda build recipe to rattler build (#121)
  ci/build_python.sh
  conda/recipes/nx-cugraph/build.sh
  conda/recipes/nx-cugraph/meta.yaml
  conda/recipes/nx-cugraph/recipe.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

added downloads from github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/test_python.sh
  ci/test_wheel_nx-cugraph.sh
Due: disallow-improper-nxver-comparison

Download build artifacts from Github for CI (#122)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/test_python.sh
  ci/test_wheel_nx-cugraph.sh
Due: disallow-improper-nxver-comparison

Add `to_scipy_sparse_array` (#120)
  .pre-commit-config.yaml
  README.md
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  ci/test_python.sh
  nx_cugraph/__init__.py
  nx_cugraph/algorithms/__init__.py
  nx_cugraph/algorithms/bipartite/matrix.py
  nx_cugraph/algorithms/tournament.py
  nx_cugraph/classes/graph.py
  nx_cugraph/convert_matrix.py
  nx_cugraph/interface.py
  nx_cugraph/linalg/__init__.py
  nx_cugraph/linalg/graphmatrix.py
  nx_cugraph/tests/test_bipartite.py
  nx_cugraph/tests/test_community.py
  pyproject.toml
  scripts/update_readme.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

DOC v25.08 Updates [skip ci]
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Fix update_version.sh
  ci/release/update-version.sh
Due: disallow-improper-nxver-comparison

Merge pull request #124 from raydouglass/fix-update-version
  ci/release/update-version.sh
Due: disallow-improper-nxver-comparison

Some changes
  README.md
  _nx_cugraph/__init__.py
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Some changes
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

updates
  _nx_cugraph/__init__.py
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Branch 25.06 merge 25.04 (Trying Again) (#128)
  CHANGELOG.md
Due: disallow-improper-nxver-comparison

Revert "Branch 25.06 merge 25.04 (Trying Again) (#128)"
  CHANGELOG.md
Due: disallow-improper-nxver-comparison

changes
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Bump `version_added` to 25.06
  nx_cugraph/classes/digraph.py
  nx_cugraph/classes/graph.py
  nx_cugraph/classes/multidigraph.py
  nx_cugraph/classes/multigraph.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Add support for Python 3.13.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  notebooks/demo/nx_cugraph_demo.ipynb
  pyproject.toml
Due: disallow-improper-nxver-comparison

Directed and undirected graph support
  _nx_cugraph/__init__.py
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Changes
  _nx_cugraph/__init__.py
  benchmarks/pytest-based/bench_algos.py
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Add support for Python 3.13 (#132)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  notebooks/demo/nx_cugraph_demo.ipynb
  pyproject.toml
Due: disallow-improper-nxver-comparison

Build and test with CUDA 12.9.0
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Due: disallow-improper-nxver-comparison

Build and test with CUDA 12.9.0 (#135)
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Due: disallow-improper-nxver-comparison

Update nx_cugraph/convert_matrix.py
  nx_cugraph/convert_matrix.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Path conditions:
  nx-cugraph-meta-data-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$ and not (^thirdparty)
  nx-cugraph-readme-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$, \.(md|markdown|mdown)$ and not (^thirdparty)
  disallow-improper-nxver-comparison: any of: not (.pre-commit-config.yaml), but not: ^thirdparty
