Repository rapidsai/nx-cugraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

nx-cugraph-meta-data-update:
  name: nx-cugraph meta-data updater
  entry: bash -c "PYTHONPATH=. python _nx_cugraph/__init__.py"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

nx-cugraph-readme-update:
  name: nx-cugraph README updater
  entry: bash -c "PYTHONPATH=. python ./scripts/update_readme.py ./README.md"
  language: python
  pass_filenames: false
  additional_dependencies:
  - networkx>=3.4

disallow-improper-nxver-comparison:
  name: disallow improper comparison to `_nxver`
  language: pygrep
  entry: _nxver > |_nxver <= | < _nxver| >= _nxver

merge latest branch-25.10
  README.md
Due: disallow-improper-nxver-comparison

revert some unnecessary small changes, fix CONTRIBUTING.md
  CONTRIBUTING.md
  dependencies.yaml
Due: disallow-improper-nxver-comparison

Build and test with CUDA 13.0.0 (#182)
  .devcontainer/cuda13.0-conda/devcontainer.json
  .devcontainer/cuda13.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  README.md
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  conda/recipes/nx-cugraph/recipe.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Use branch-25.10 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Due: disallow-improper-nxver-comparison

Use branch-25.10 again (#184)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Due: disallow-improper-nxver-comparison

Initial commit of new Leiden notebooks used in September 2025 blog on Leiden.
  notebooks/cugraph_benchmarks/leiden_benchmarks.ipynb
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

Updated to move benchmarks to the cugraph repo as a simple script, changes how edges are allocated.
  notebooks/cugraph_benchmarks/leiden_benchmarks.ipynb
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

Populates cell outputs from recent run.
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

configuring repo for automatic release notes generation
  .github/release.yml
Due: disallow-improper-nxver-comparison

DOC v25.12 Updates [skip ci]
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .devcontainer/cuda13.0-conda/devcontainer.json
  .devcontainer/cuda13.0-pip/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

Adds text to describe cells, adds dataset citation.
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

Adds hardware specs
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

Merge pull request #186 from AyodeAwe/auto-release-notes
  .github/release.yml
Due: disallow-improper-nxver-comparison

Updates comments to reflect the goal of the notebook, which is to demo Leiden on larger-scale genomics data using nx-cugraph.
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

Adds NVIDIA copyright.
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

Adds Leiden notebook used in upcoming tech blog (#185)
  notebooks/demo/networkx_leiden_simple_genomics_example.ipynb
Due: disallow-improper-nxver-comparison

Update `RAPIDS_BRANCH`, codify changes in `update-version.sh`
  RAPIDS_BRANCH
  ci/release/update-version.sh
Due: disallow-improper-nxver-comparison

Update `forceatlas2_layout` to use updated `plc.force_atlas2`
  nx_cugraph/drawing/layout.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Massage FA2 arguments to better match PLC and NX:
  _nx_cugraph/__init__.py
  nx_cugraph/drawing/layout.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Rename `mobility_*` args to `vertex_mobility_*`
  nx_cugraph/drawing/layout.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Update `forceatlas2_layout` to use updated `plc.force_atlas2` (#191)
  _nx_cugraph/__init__.py
  nx_cugraph/drawing/layout.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

`forceatlas2_layout`: support `node_mass=` argument
  _nx_cugraph/__init__.py
  nx_cugraph/drawing/layout.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

update versions
  nx_cugraph/classes/digraph.py
  nx_cugraph/classes/graph.py
  nx_cugraph/classes/multidigraph.py
  nx_cugraph/classes/multigraph.py
  nx_cugraph/tests/test_classes.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Update one more version
  _nx_cugraph/__init__.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Update Changelog [skip ci]
  CHANGELOG.md
Due: disallow-improper-nxver-comparison

REL v25.10.00 release
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
Due: disallow-improper-nxver-comparison

`forceatlas2_layout`: support `node_mass=` argument (#194)
  _nx_cugraph/__init__.py
  nx_cugraph/drawing/layout.py
Due: nx-cugraph-meta-data-update, nx-cugraph-readme-update, disallow-improper-nxver-comparison

Enable sccache-dist connection pool
  .devcontainer/Dockerfile
Due: disallow-improper-nxver-comparison

Enable `sccache-dist` connection pool (#197)
  .devcontainer/Dockerfile
Due: disallow-improper-nxver-comparison

Use main branch
  .github/workflows/build.yaml
Due: disallow-improper-nxver-comparison

Use main branch (#199)
  .github/workflows/build.yaml
Due: disallow-improper-nxver-comparison

Use main shared-workflows branch
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Due: disallow-improper-nxver-comparison

Use main shared-workflows branch (#200)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Due: disallow-improper-nxver-comparison

Bump version
  .pre-commit-config.yaml
Due: none

Require CUDA 12.2+
  README.md
  dependencies.yaml
  notebooks/demo/nx_cugraph_demo.ipynb
Due: disallow-improper-nxver-comparison

Require CUDA 12.2+ (#203)
  README.md
  dependencies.yaml
  notebooks/demo/nx_cugraph_demo.ipynb
Due: disallow-improper-nxver-comparison

ci(build): test pure-wheel handling in `shared-workflows`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Due: disallow-improper-nxver-comparison

Path conditions:
  nx-cugraph-meta-data-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$ and not (^thirdparty)
  nx-cugraph-readme-update: any of: ^(nx_cugraph|_nx_cugraph)/ and \.py$, \.(md|markdown|mdown)$ and not (^thirdparty)
  disallow-improper-nxver-comparison: any of: not (.pre-commit-config.yaml), but not: ^thirdparty
